<div class="starship-modal"> <!-- Class to customize modals in modales.scss -->
    <div class="modal-header">
        <h5 class="col-10 offset-1 text-center modal-title">&nbsp;{{ starship?.name?.toUpperCase() }}</h5>
        <button type="button" class="col-1 btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="col-10 offset-1">
            <img [src]="jpg" [style.background-image.url]="emptyJpg" class="d-block w-100 mx-auto border-bottom border-primary border-2" priority alt="Star Wars Logo">
        </div>
        <div class="col-10 offset-1 mt-3 text-center">
            <p>MODEL: <span>{{starship?.model?.toUpperCase()}}</span></p>
            <p>STARSHIP CLASS: <span>{{starship?.starship_class?.toUpperCase()}}</span></p>
            <p>MANUFACTURER: <span>{{starship?.manufacturer?.toUpperCase()}}</span></p>
            <p>COST: <span>{{starship?.cost_in_credits?.toUpperCase() || 0}} CREDITS</span></p>
        </div>
        <div class="mt-3 row">
            <div class="col-5 offset-1">
                <p>CREW: <span>{{starship?.crew}}</span></p>
                <p>PASSENGER CAPACITY: <span>{{starship?.passengers}}</span></p>
                <p>CARGO CAPACITY: <span>{{starship?.cargo_capacity || 0}} TONS</span></p>
                <p>CONSUMABLES: <span>{{starship?.consumables?.toUpperCase()}}</span></p>
            </div>
            <div class="col-5">
                <p>LENGTH: <span>{{starship?.length}} METERS</span></p>
                <p>MAXIMUM ATMOSPHERING SPEED: <span>{{starship?.max_atmosphering_speed || 0}} KM/H</span></p>
                <p>HYPERDRIVE RATING: <span>{{starship?.hyperdrive_rating}}</span></p>
                <p>MAXIMUM SPEED IN REALSPACE: <span>{{starship?.MGLT || 0}} MGLT</span></p>
            </div>
        </div>
        <div class="mt-3 row">
            <p class="mb-3">PILOTS:</p>
            <app-pilot *ngFor="let pilot of pilots; let even = even"
                [pilot]="pilot"
                class="col-5 mb-3"
                [class.offset-1]="even"></app-pilot>

        </div>
    </div>
</div>
