<div class="card">
    <div class="card-body">
        <h5 class="card-title text-light">{{film.title}}</h5>
        <div class="card-text">
            <p>ID:<span>{{film.episode_id}}</span></p>
            <p class="cls-crawl">CRAWL:<span>{{film.opening_crawl}}</span></p>
            <p class="cls-name">DIRECTOR:<span>{{film.director}}</span></p>
            <p class="cls-name">PRODUCER:<span>{{film.producer}}</span></p>
            <p>RELEASE:<span>{{film.release_date}}</span></p>
        </div>
    </div>
</div>
