<div infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <div
        *ngFor="let starship of starships"
        (click)="onClick(starship.url)"
        class="card mx-auto w-75 my-3 poi"
        role="button"
    >
        <div class="card-body">
            <h5 class="card-title">{{ starship.name }}</h5>
            <p class="card-text">{{ starship.model }}</p>
        </div>
    </div>
    <button
        *ngIf="showGoUpButton || loading"
        class="btn no-hidden"
        [class.btn-danger]="loading"
        [class.btn-dark]="!loading"
        (click)="scrollTop()"
    >
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"
            role="status" aria-hidden="true"></span>
        {{ loading ? "Loading..." : "GO UP"}}
    </button>
</div>
