<div class="modal-header border-0">
    <h4 class="modal-title"></h4>
    <div
        type="button"
        class="fs-2 close-btn me-3"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-circle-fill"
            viewBox="0 0 16 16"
        >
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
            />
        </svg>
    </div>
</div>
<div class="col-4 offset-4 mb-3">
    <img
        src="../../assets/img/Star_Wars_Logo_white.svg"
        width="180"
        height="90"
        class="d-block mx-auto"
        priority
        alt="Star Wars Logo"
    />
</div>
<div class="modal-body mx-auto overflow-y-visible">
    <form [formGroup]="signUpForm" class="was-validated bg-light text-bg-light rounded-4 p-5">
        <div class="mb-4">
            <h2><strong>Create Your Account</strong></h2>
            <p>
                Star Wars is part of The Walt Disney Family of Companies.
                You'll be able to log into services and experiences using
                the same email and password.
            </p>
            <p>
                Enter a password to create your account with <br>
                <strong>{{user.email}}</strong>&nbsp;<span class="text-decoration-underline cursor-pointer text-primary" (click)="closeSignup()">edit</span>
            </p>
        </div>
        <div class="form-floating mb-4">
            <input
                type="text"
                class="form-control border-secondary"
                id="firstName"
                formControlName="firstName"
                placeholder="First Name"
                aria-describedby="firstNameHelp"
                [tabindex]="tabindex"
            /><!-- placeholder needed for floating label-->
            <label for="firstName">First Name</label>
            <div id="firstNameHelp" class="form-text d-none">
                First name.
            </div>
            <div class="text-danger text-end col-10 offset-1 col-sm-9 offset-sm-2 my-3"
                *ngIf="signUpForm.get('firstName')!.invalid && signUpForm.get('firstName')!.touched">
                {{ getError('firstName') | json }}
            </div>
        </div>
        <div class="form-floating mb-4">
            <input
                type="text"
                class="form-control border-secondary"
                id="lastName"
                formControlName="lastName"
                placeholder="Last Name"
                aria-describedby="lastNameHelp"
                [tabindex]="tabindex"
            /><!-- placeholder needed for floating label-->
            <label for="lastName">Last Name</label>
            <div id="lastNameHelp" class="form-text d-none">
                Last name.
            </div>
            <div class="text-danger text-end col-10 offset-1 col-sm-9 offset-sm-2 my-3"
                *ngIf="signUpForm.get('lastName')!.invalid && signUpForm.get('lastName')!.touched">
                {{ getError('lastName') | json }}
            </div>
        </div>
        <div class="form-floating input-group form-group mb-4">
            <input
                [attr.type]="pwdState.type[pwdState.state]"
                class="form-control border-secondary border-end"
                id="password"
                formControlName="password"
                placeholder="Password"
                aria-describedby="passwordHelp"
                autocomplete="current-password"
                [tabindex]="tabindex"
            /><!-- placeholder needed for floating label-->
            <span class="input-group-text" type="button" id="basic-addon2" (click)="togglePwdState()">
                <img src="assets/svg/{{pwdState.svg[pwdState.state]}}.svg"
                    alt="{{pwdState.alt[pwdState.state]}}"
                    title="{{pwdState.alt[pwdState.state]}}"/>
            </span>
            <label for="password">Password</label>
            <div id="passwordHelp" class="form-text d-none">
                Minimum 8 characters and at least one digit, one special character and one capital letter.
            </div>
            <div class="text-danger text-end col-12 my-3"
                *ngIf="signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched">
                {{ getError('password') | json }}
            </div>
        </div>
        <div class="mb-3 form-check">
            <input
                type="checkbox"
                class="no-validate form-check-input"
                formControlName="mailing"
                id="mailing"
                [tabindex]="tabindex"
            />
            <label class="form-check-label text-black" for="mailing"
                >Yes! I would like to receive by email special offers and updates about Lucasfilm Ltd.
                and other products and services from
                <a target="_blank" rel="noopener"
                href="https://privacy.thewaltdisneycompany.com/en/definitions/#The-Walt-Disney-Family-of-Companies">
                The Walt Disney Family of Companies</a></label
            >
        </div>
        <p class="text-secondary">
            By creating an account, you agree to our Terms of Use, and acknowledge that you have read our Privacy Policy, Cookies Policy and UK & EU Privacy Rights
        </p>

        <button type="submit" class="btn rounded-5 w-100 mt-2 mb-4" [tabindex]="tabindex" (click)="signUp()"
            [disabled]="!signUpForm.valid">Continue</button>

    </form>
</div>
<div class="modal-footer border-0 w-100">
    <div class="float-end">
        Foto de
        <a
            href="https://unsplash.com/es/@kaip?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Kai Pilger</a
        >
        en
        <a
            href="https://unsplash.com/es/fotos/Ef6iL87-vOA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Unsplash</a
        >
    </div>

</div>
<!-- Modal -->
<ng-template #confirmation let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Sign Up</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<h2 *ngIf="signUpError">
            The user {{user.email}} was already registered
        </h2>
        <h2 *ngIf="!signUpError">
            You have been registered.
        </h2>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Ok</button>
	</div>
</ng-template>
