/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */

$enable-negative-margins: true;

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

.login-modal {
    .modal-content {
        background-image: url('assets/img/kai-pilger-Ef6iL87-vOA-unsplash.webp');
        background-size: cover;
        .modal-body {
            max-width: 580px;
            input {
                background: lightgray;
                color: black
            }
            .form-floating>.form-control {
                &:focus {
                    border: none;
                    border-bottom: 3px solid black!important;
                    box-shadow: none;
                }
                &~label {
                    color: gray;
                    &::after {
                        background-color: inherit;
                    }
                }
            }
            button {
                background-color: #FADE4B;
                color: black;
                font-weight: bold;
                height: 3rem;
                &:hover {
                    background-color: #F2D24E;
                }
            }
        }
    }
}

// Tabs
// .nav-tabs .nav-link {
//     border: none;
//     padding-left: 3rem;
//     padding-right: 3rem;
// }

$darkgray: #202121;
$black: #0a0b0b;

@include color-mode(dark) {
    .card {
        background-color: #151515;
        border: 0;
        .card-title {
            color: #999999;
        }

        .card-text {
            color: #757575;
        }
    }

}

body {
    background-color: $black;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    background-color: $black;
    border-bottom: 1px solid $darkgray;
    border-top: 1px solid $darkgray;
    display: flex;
    justify-content: center;
    width: 100%;

    .nav-item {
        border-left: 1px solid $darkgray;
        &:last-child {
            border-right: 1px solid $darkgray;
        }
        &:has(.nav-link.active) {
            border-bottom: 2px solid $primary;
        }
    }
}

.starship-modal .modal-dialog {
    height: 80vh;
    margin-top: 10vh;
    max-width: 80vw;
}
