/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */

$enable-negative-margins: true;
//Generate utilites for Cursor
$utilities: (
    ) !default;
$utilities: map-merge($utilities,
    ("cursor": (property: cursor,
        values: auto default pointer wait text move help not-allowed),
    )
);
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');


.login-modal {
    .modal-content {
        background-image: url('assets/img/kai-pilger-Ef6iL87-vOA-unsplash.webp');
        background-size: cover;
        .modal-body {
            max-width: 580px;
            input, .input-group-text {
                background: lightgray;
                color: black
            }
            .form-floating>.form-control {
                &:focus {
                    border: none;
                    border-bottom: 3px solid black!important;
                    box-shadow: none;
                }
                &~label {
                    color: gray;
                    &::after {
                        background-color: inherit;
                    }
                }
            }
            button {
                background-color: #FADE4B;
                color: black;
                font-weight: bold;
                height: 3rem;
                &:hover {
                    background-color: #F2D24E;
                }
            }
        }
    }
}

// Tabs
// .nav-tabs .nav-link {
//     border: none;
//     padding-left: 3rem;
//     padding-right: 3rem;
// }

$darkgray: #202121;
$black: #0a0b0b;

@include color-mode(dark) {
    .card {
        background-color: #151515;
        border: 0;
        .card-title {
            color: #999999;
        }

        .card-text {
            color: #757575;
        }
    }

}

body {
    background-color: $black;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    background-color: $black;
    border-bottom: 1px solid $darkgray;
    border-top: 1px solid $darkgray;
    display: flex;
    justify-content: center;
    width: 100%;

    .nav-item {
        border-left: 1px solid $darkgray;
        &:last-child {
            border-right: 1px solid $darkgray;
        }
        &:has(.nav-link.active) {
            border-bottom: 2px solid $primary;
        }
    }
}

.starship-modal .modal-dialog {
    height: 80vh;
    margin-top: 10vh;
    max-width: 80vw;
}

////////////////////////
//  form validation

.was-validated .form-control.ng-untouched:valid,
.form-control.ng-untouched.is-valid {
    background-image: none;
}

form.was-validated input.form-control.ng-touched.ng-invalid {
    border-color: var(--bs-form-invalid-border-color)!important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

form.was-validated input.form-control.ng-touched.ng-invalid:focus,
.form-control.is-valid:focus {
    border-color: var(--bs-form-invalid-border-color)!important;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
}

form.was-validated input.form-check-input.no-validate {
    &:checked {
        background-color: var(--bs-success);
        background-image: var(--bs-form-check-bg-image);
    }
    &:valid {
        border-color: var(--bs-input-border-color);
        &:focus {
            box-shadow: none;
        }
    }
}

//  form validation
////////////////////////
