/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

// Tabs
// .nav-tabs .nav-link {
//     border: none;
//     padding-left: 3rem;
//     padding-right: 3rem;
// }

$darkgray: #202121;
$black: #0a0b0b;

@include color-mode(dark) {
    .card {
        background-color: #151515;
        border: 0;
        .card-title {
            color: #999999;
        }

        .card-text {
            color: #757575;
        }
    }

}

body {
    background-color: $black;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    background-color: $black;
    border-bottom: 1px solid $darkgray;
    border-top: 1px solid $darkgray;
    display: flex;
    justify-content: center;
    width: 100%;

    .nav-item {
        border-left: 1px solid $darkgray;
        &:last-child {
            border-right: 1px solid $darkgray;
        }
        &:has(.nav-link.active) {
            border-bottom: 2px solid $primary;
        }
    }
}

.modal-dialog {
    height: 80vh;
    margin-top: 10vh;
    max-width: 80vw;
}
