<div class="card">
    <div class="card-body">
        <h5 class="card-title text-light">{{pilot.name}}</h5>
        <div class="card-text">
            <p>HEIGHT:<span>{{pilot.height}}</span></p>
            <p>MASS:<span>{{pilot.mass}}</span></p>
            <p>HAIR:<span>{{pilot.hair_color}}</span></p>
            <p>SKIN:<span>{{pilot.skin_color}}</span></p>
            <p>EYE:<span>{{pilot.eye_color}}</span></p>
            <p>BIRTH:<span>{{pilot.birth_year}}</span></p>
            <p>GENDER:<span>{{pilot.gender}}</span></p>
        </div>
    </div>
</div>
